{% extends "app_auth/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4">Profile: {{ user.username }}</h1>
        <img src="{{ user.profile.avatar.url }}" alt="User Avatar" class="rounded-circle shadow" width="150" height="150">
        <a href="{% url 'app_auth:profile_change' %}" class="btn btn-outline-danger btn-sm">Change info</a>
    </div>

    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


    <div class="mt-5">
    <h3>Added Warriors</h3>

    {% if warriors %}
        <div class="row">
            {% for war in warriors %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            {% if war.avatar %}
                                <img src="{{ war.avatar.url }}" alt="{{ war.first_name }}" class="rounded img-fluid mb-3">
                            {% endif %}
                            <h5 class="card-title">{{ war.first_name }} {{ war.second_name }}</h5>
                            <p class="text-muted">Nickname: {{ war.war_nik }}</p>
                            <p>Wound Type: {{ war.wound_type }}</p>
                            <p>Wound Case: {{ war.wound_case }}</p>
                            <a href="{% url 'warrior:warrior_details' war.id %}" class="btn btn-outline-danger btn-sm">More Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">You haven't added any warriors yet.</p>
    {% endif %}
    </div>

</div>

{% endblock %}
